$bg-color: #92e792;
$bg-header: #5ce75c;

$text-color: #333;

$link-color: #036303;
$link-hover-color: #12b812;
$link-hover-bg: #036303;

$border-radius: 0.25rem;
$border-color: #12b812;
$border-width: 2px;
